{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<section class='social'>
  <h1>Follow</h1>
  <ul class='center-several'>
    <li>
      <a class='icon-mail' href='mailto:{{ author.email }}'>{{ author.email }}</a>
    </li>
    <li>
      <a class='icon-twitter' href='https://twitter.com/{{ author.twitter_handle }}'>@{{ author.twitter_handle }}</a>
    </li>
    <li>
      <a class='icon-web' href='https://github.com/{{ author.github_handle }}/'>https://github.com/{{ author.github_handle }}/</a>
    </li>
  </ul>
</section>
