.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
source/images/overlays/
vendor
node_modules
Gemfile.lock
blog.tar.bz2
