{% if post.author == 'jose.costa' %}
  <div class="recommend">
    <p>If you have found this material to be useful, you might <br/>consider 
      <a href="http://workingwithrails.com/recommendation/new/person/13381-jose-ignacio-costa">recommending me on Working With Rails.</a>
    </p>
  </div>
  <a href="http://workingwithrails.com/recommendation/new/person/13381-jose-ignacio-costa" class="rails"></a>
{% endif  %}

{% if post.author == 'sebastian.martinez' %}
  <div class="recommend">
    <p>If you have found this material to be useful, you might <br/>consider 
    <a href="http://workingwithrails.com/recommendation/new/person/15170-sebastian-martinez">recommending me on Working With Rails.</a>
    </p>
  </div>
  <a href="http://workingwithrails.com/recommendation/new/person/15170-sebastian-martinez" class="rails"></a>
{% endif  %}

{% if post.author == 'santiago.pastorino' %}
  <div class="recommend">
    <p>If you have found this material to be useful, you might <br/>consider 
    <a href="http://workingwithrails.com/recommendation/new/person/14698-santiago-pastorino">recommending me on Working With Rails.</a>
    </p>
  </div>
  <a href="http://workingwithrails.com/recommendation/new/person/14698-santiago-pastorino" class="rails"></a>
{% endif  %}
