<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style right">
  <a class="addthis_button_twitter" addthis:url="http://blog.wyeworks.com{{ post.url }}" addthis:title="{{ post.title}}"></a>
  <a class="addthis_button_facebook" addthis:url="http://blog.wyeworks.com{{ post.url }}" addthis:title="{{ post.title}}"></a>
  <a class="addthis_button_digg" addthis:url="http://blog.wyeworks.com{{ post.url }}" addthis:title="{{ post.title}}"></a>
  <a class="addthis_button_delicious" addthis:url="http://blog.wyeworks.com{{ post.url }}" addthis:title="{{ post.title}}"></a>
  <a class="addthis_button_reddit" addthis:url="http://blog.wyeworks.com{{ post.url }}" addthis:title="{{ post.title}}"></a>
  <a class="addthis_button_technorati" addthis:url="http://blog.wyeworks.com{{ post.url }}" addthis:title="{{ post.title}}"></a>
  <a class="addthis_button_google" addthis:url="http://blog.wyeworks.com{{ post.url }}" addthis:title="{{ post.title}}"></a>
  <span class="addthis_separator">|</span>
  <a href="http://www.addthis.com/bookmark.php?v=250" class="addthis_button_expanded"></a>
  <span class="addthis_separator">|</span>
  <g:plusone size="small" count="false" href="http://blog.wyeworks.com{{ post.url }}"</g:plusone>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?pub=wyeworks"></script>
<!-- AddThis Button END -->
