<div class="hentry" id="post-{{ post.id }}">
  <img alt="{{ post.author }}" class="gravatar" height="60" src="/images/team/{{ post.author }}.png" width="60">
  <h2 class="entry-title">
    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  </h2>
  {% include post_author.html %}
  {% include post_content.html %}
  {% include post_meta.html %}
  {% include post_share.html %}
  {% include post_author_follow.html %}
  {% if single %}
    {% include post_comments.html %}
  {% endif %}
<div class="clear"></div>
</div>
