{% if post.author == 'jose.costa' %}
  <a href="https://twitter.com/joseicosta" class="twitter">
{% endif  %}
{% if post.author == 'sebastian.martinez' %}
  <a href="https://twitter.com/smartinez87" class="twitter">
{% endif  %}
{% if post.author == 'santiago.pastorino' %}
  <a href="https://twitter.com/spastorino" class="twitter">
{% endif  %}
{% if post.author == 'leonardo.capillera' %}
  <a href="https://twitter.com/lcapillera" class="twitter">
{% endif  %}
<img src="/images/twitter-me.jpg" alt="Twitter me" /></a>
