.clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.conceptual-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden,
.hide {
  display: none !important;
  visibility: hidden;
}

.side-by-side {
  @extend .clearfix;
}
.side-by-side > * {
  float: left;
}

.center-several {
  text-align: center;
}
.center-several > * {
  display: inline-block;
  margin: 0 .3em;
  padding: 0;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  text-indent: -777em;
  overflow: hidden;
}
.icon-twitter,
.icon-mail,
.icon-web,
.icon-github {
  width: 27px;
  height: 27px;
  background-image: url('#{$base-url}/images/icons/social.png');
  background-size: 108px 27px;
  border-radius: 777em;
}
.icon-twitter {
  background-position: 0 0;
}
.icon-mail {
  background-position: -27px 0;
}
.icon-web {
  background-position: -54px 0;
}
.icon-github {
  background-position: -80px 0;
}

.icon-grey-mail,
.icon-grey-twitter {
  width: 17px;
  height: 17px;
  background-image: url('#{$base-url}/images/icons/icons-grey.png');
  background-size: 17px auto;
  text-decoration: none;
  margin: 0 .75em 0 0;
  vertical-align: -.24em;
}
.icon-grey-mail {
  background-position: 0 0;
}
.icon-grey-twitter {
  background-position: 50% -17px;
}
