<img src='/images/wyeworks-logo-monochrome.png' alt='wyeworks logo' class='brand'>
<ul class='side-by-side'>
  <li>
    <a href='mailto:&#105;&#110;&#102;&#111;&#064;&#119;&#121;&#101;&#119;&#111;&#114;&#107;&#115;&#046;&#099;&#111;&#109;'>
      <i class='icon icon-grey-mail'>Email</i> <span class='mobile-content'>&#105;&#110;&#102;&#111;&#064;&#119;&#121;&#101;&#119;&#111;&#114;&#107;&#115;&#046;&#099;&#111;&#109;</span>
    </a>
  </li>
  <li>
    <a href='http://twitter.com/wyeworks'>
      <i class='icon icon-grey-twitter'>Twitter</i> <span class='mobile-content'>@wyeworks</span>
    </a>
  </li>
</ul>
