article {
  position: relative;
  padding-top: 2.4em;
  padding-bottom: 3.57em;
  a { @extend .force-wrap; }
  header {
    padding-bottom: 1em;
    margin-bottom: .8em;
    h1 {
      margin: 0;
      a { text-decoration: none;
        &:hover { text-decoration: underline; } }
    }
    p {
      font-size: .9em;
      color: $text-color-light;
      margin: 0;
      &.meta {
        position: absolute;
        bottom: 2.75em;
        font-size: 1rem;
        > * {
          margin: 0 1em 0 0;
        }
        a {
          color: $quality-color;
          text-decoration: none;
          &:visited {
            color: $quality-color;
          }
          &:hover {
            text-decoration: underline;
          }
        }
        .categories,
        [data-disqus-identifier],
        time {
          background-image: url('/images/icons/meta.png');
          padding: 0 0 0 1.55em;
          margin: 0 1rem 0 0;
          background-size: 24px 72px;
          background-repeat: no-repeat;
          line-height: 24px;
          font-style: italic;
          text-transform: capitalize;
          font-size: 1.3rem;
        }
        .categories {
          background-position: 0 2px;
        }
        [data-disqus-identifier] {
          background-position: 0 -22px;
        }
        time {
          background-position: 0 -48px;
        }
      }
    }
  }
  h2 {
    padding-top: 0.8em;
    background: $img-border top left repeat-x;
  }
  .entry-content & h2:first-child, header + h2 { padding-top: 0; }
  h2:first-child, header + h2 { background: none; }
  .feature {
    padding-top: .5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    background: $img-border bottom left repeat-x;
    font-size: 2.0em; font-style: italic;
    line-height: 1.3em;
  }
  img, video, .flash-video {
    @extend .flex-content;
    @extend .basic-alignment;
    @include shadow-box;
  }
  video, .flash-video { margin: 0 auto 1.5em; }
  video { display: block; width: 100%; }
  .flash-video {
    > div {
      position: relative;
      display: block;
      padding-bottom: 56.25%;
      padding-top: 1px;
      height: 0;
      overflow: hidden;
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  > footer {
    padding-bottom: 2.5em;
    margin-top: 2em;
    @extend .sans;
    p.meta {
      margin-bottom: .8em;
      font-size: .85em;
      clear: both;
      overflow: hidden;
    }
    .byline + time:before, time +time:before, .comments:before, .byline ~ .categories:before {
      @extend .separator;
    }
  }

}
.blog-index article {
  border-bottom: 1px solid lighten($quality-color, 45);
}
#content .blog-index {
  padding: {
    top: .7em;
    bottom: 0;
  }
  article {
    padding-top: 2.4em;
  }
  article header {
    background: none;
    padding-bottom: 0;
  }
  a[rel=full-article] {
    background: darken($main-bg, 5);
    display: inline-block;
    padding: .4em .8em;
    margin-right: .5em;
    text-decoration: none;
    color: mix($text-color, $text-color-light);
    @extend .serif;
    @include transition(background-color .5s);
    &:hover {
      background: $link-color-hover;
      text-shadow: none;
      color: $main-bg;
    }
  }
  footer {
    @extend .sans;
    margin-top: 1em;
  }
}

.separator {
  content: "\2022 ";
  padding: 0 .4em 0 .2em;
  display: inline-block;
}

#content div.pagination {
  text-align: center;
  font-size: .95em;
  position: relative;
  background: $img-border top left repeat-x;
  padding: {top: 1.5em; bottom: 1.5em;}
  a {
    text-decoration: none;
    color: $text-color-light;
    &.prev { position: absolute; left: 0; }
    &.next { position: absolute; right: 0; }
    &:hover { color: $link-color-hover; }
    &[href*=archive] {
      &:before, &:after { content: '\2014'; padding: 0 .3em; }
    }
  }
}
