body > footer {
  @extend .sans;
  font-size: .8em;
  color: $footer-color;
  text-shadow: lighten($footer-bg, 5) 0 1px;
  background-color: $footer-bg;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 1;
  a {
    color: $clear-color;
    &:visited {
      color: $clear-color;
    }
    &:hover {
      color: $clear-color;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}
