.hero {
  min-height: 1em;
  text-align: center;
  padding: 11.1em 1em 13.5em;
  background-position: 50% 50%;
  background-size: cover;
}
.hero p {
  max-width: 25em;
  font-size: 1.625em;
  line-height: 1.1;
  margin: 0 auto;
}
.hero strong {
}

.bg-default {
  background-image: url('/images/heros/default.jpg');
  background-position: 50% 49%;
}
.bg-post {
}
.hero-post p {
  display: none;
}

.hero {
  @media only screen and (min-width: 480px) {
  }
  @media only screen and (min-width: 768px) {
    background-image: url('/images/heros/default-high.jpg');
  }
  @media only screen and (min-width: 992px) {
  }
}
