body > nav {
  position: relative;
  background-color: $clear-color;
  padding-left: .15em;
  padding-right: 0;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);

  a {
    float: left;
    padding: .65em .54em;
    text-decoration: none;
    color: $quality-color;
    &:visited {
      color: $quality-color;
    }
  }
  ul {
    float: right;
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    list-style-type: none;
    a {
      letter-spacing: .062em;
      padding: .9rem .57rem;
      display: none;
    }
  }
  ul li {
    margin: 0;
    float: left;
  }
  li + li {
    display: none;
    a {
      padding-left: .57rem;
    }
  }
  @media only screen and (min-width: 440px) {
    li + li {
      display: block;
    }
  }
}

.brand {
  width: 148px;
  margin: .075em 0;
  img {
    display: block;
  }
}


#mobile-dropdown {
  max-height: 0;
  position: absolute;
  left: 0;
  top: $header-height;
  width: 100%;
  text-align: center;
  background-color: $clear-color;
  transition: max-height 300ms ease-in-out;
  overflow: hidden;
  z-index: 50;
}
#mobile-dropdown.dropdown-show {
  max-height: 14rem;
}
#mobile-dropdown li {
  display: block;
  float: none;
  border-bottom: 1px solid lighten($quality-color, 45);
  &:first-child {
    border-top: 1px solid lighten($quality-color, 45);
  }
}
#mobile-dropdown li a {
  display: block;
  float: none;
  padding: .6em;
}

#mobile-dropdown-trigger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 7.7em;
  background-image: image-url('icons/hamburger.png');
  background-position: 80% 13px;
  background-repeat: no-repeat;
  background-size: 27px 78px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    background-position: 80% -39px;
  }
}

@media (min-width: 620px){
  #mobile-dropdown,
  #mobile-dropdown-trigger {
    display: none;
  }
  body > nav ul a {
    display: block;
  }
}

.no-placeholder {
  body > nav .search {
    background: lighten($nav-bg, 15) image-url('icons/search.png') .3em .25em no-repeat;
    text-indent: 1.3em;
  }
}
@mixin mask-subscription-nav($feed: 'icons/rss.png'){
  position: relative; top: 0px;
  text-indent: -999999em;
  background-color: $nav-border-right;
  border: 0;
  padding: 0;
  &,&:after { @include mask-image($feed); }
  &:after {
    content: "";
    position: absolute; top: -1px; left: 0;
    background-color: lighten($nav-color, 25);
  }
  &:hover:after { background-color: lighten($nav-color, 20); }
}
.maskImage {
  body > nav {
    @media only screen and (min-width: 550px) {
      ul[data-subscription$=email] + form {
        width: $sidebar-width-medium - $pad-medium*2 - $sidebar-pad-medium - 1em;
      }
    }
  }
  ul.subscription { position: relative; top: .2em; li, a { border: 0; padding: 0; }}
  a[rel=subscribe-rss]{ @include mask-subscription-nav('icons/rss.png'); }
  a[rel=subscribe-email]{ @include mask-subscription-nav('icons/email.png'); }
}

