.aside-about {
}
.aside-about img {
  display: none;
  max-width: 8.375rem;
  border-radius: 777em;
  margin: 0 auto 1em;
}
.aside-about p {
  padding: 0 .8em;
  font-size: 1.1em;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .aside-about img {
    display: block;
  }
}
